doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Upload images to server using Node JS
        script(type='text/javascript', src='js/scripts.js')
    body
        form#frmUploader(enctype="multipart/form-data", action="api/Upload/", method="post")
            input(type="file", name="avatar", multiple="")
            input#btnSubmit(type="submit", name="submit", value="Upload")
        img(src= image)
        p #{stuff}

        form#crop(enctype="form-data", action="api/crop/", method="post")
            input(type="text", name="width", placeholder="width")
            input(type="text", name="height", placeholder="height")
            input(type="text", name="cropx", placeholder="crop x")
            input(type="text", name="cropy", placeholder="crop y")
            input#btnresize(type="submit", name="submit", value="crop")
        form#crop(enctype="form-data", action="api/resize/", method="post")
            input(type="text", name="resizex", placeholder="resize x")
            input(type="text", name="resizey", placeholder="resize y")
            input#btnresize(type="submit", name="submit", value="resize")
        form#crop(enctype="form-data", action="api/rotate/", method="post")
            input(type="text", name="color", placeholder="color")
            input(type="text", name="degrees", placeholder="degrees")
            input#btnresize(type="submit", name="submit", value="degrees")   
